* {
    background-color: #524e41;
}
.header {
    color: #9cc0f7;
}

p {
    color: #eaf0f0;
}

.yellow {
    color: #e9f56a;
}

.list {
    color: #d3ecec;
}

.oblique {
    font-style: oblique;
}

.red {
    color: #a03232;
}
.italic {
    font-style: italic;
    color: #eddddd;
}
span{
    color: #f2fafa;
}

img {
    height: 350px;
}